{% extends 'base.html.twig' %}

{% block title %}Last train!{% endblock %}

{% block stylesheets %}
<style>
  .with-bg-color {
    display: inline-block;
    border: none;
    border-radius: 3em;
    text-align: center;
    line-height: 1.2em;
    min-width: 1em;
    padding: 0.2em 0.3em;
  }

  img.picto {
    vertical-align: middle;
    height: 1.6em;
  }

  #favorite-star {
    color:yellow;
    cursor:pointer;
  }
</style>
{% endblock %}
{% block body %}

<div class="card my-5">
  <div class="card-body">
    <div class="d-flex align-items-center mb-2">
      <span class="fs-2 me-3">Dernier train pour {{ stop_area_name }}</span>
      {% if app.user %}
      <i id="favorite-star" class="bi bi-star{{ is_favorite ? '-fill' : '' }} fs-2"></i>
      {% endif %}
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Transport</th>
          <th scope="col">Ligne</th>
          <th scope="col">Direction</th>
          <th scope="col">Prochain passage</th>
        </tr>
      </thead>
      <tbody>
        {% for departure in stop_area.departures %}
        <tr>
          <td>{{ departure.route.physical_modes.0.name }}</td>
          <td>
            {% if departure.route.line.commercial_mode.id == 'commercial_mode:Bus' %}
            <span><img class="picto" src="{{ asset('images/bus.svg') }}" alt="Bus" title="Bus"></span>
            {% elseif departure.route.line.commercial_mode.id == 'commercial_mode:Metro' %}
            <span><img class="picto" src="{{ asset('images/metro.svg') }}" alt="Metro" title="Metro"></span>
            {% elseif departure.route.line.commercial_mode.id == 'commercial_mode:Tramway' %}
            <span><img class="picto" src="{{ asset('images/tramway.svg') }}" alt="Tramway" title="Tramway"></span>
            {% elseif departure.route.line.commercial_mode.id == 'commercial_mode:LocalTrain' %}
            <span><img class="picto" src="{{ asset('images/train.svg') }}" alt="Train" title="Train"></span>
            {% elseif departure.route.line.commercial_mode.id == 'commercial_mode:RapidTransit' %}
            <span><img class="picto" src="{{ asset('images/train.svg') }}" alt="Train" title="Train"></span>
            {% elseif departure.route.line.commercial_mode.id == 'commercial_mode:regionalRail' %}
            <span><img class="picto" src="{{ asset('images/train.svg') }}" alt="Train" title="Train"></span>
            {% else %}
            <pre>
              {{ dump(departure.route.line.commercial_mode.id) }}
            </pre>
            {% endif %}
            <span class="with-bg-color" style="background-color: #{{ departure.route.line.color }}; color: #{{ departure.route.line.text_color }};">
            {{ departure.route.line.code }}
            </span>
          </td>
          <td>{{ departure.route.direction.name }}</td>
          <td>{{ departure.stop_date_time.departure_date_time|date('H:i') }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script>
  document.getElementById('favorite-star').addEventListener('click', function() {
    const baseUrl = '{{ path('app_favorite_new') }}';
    const stopAreaId = '{{ stop_area_id}}';
    const stopAreaName = '{{ stop_area_name }}';

    fetch(baseUrl, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({
            stop_area_id: stopAreaId,
            stop_area_name: stopAreaName,
        }),
    })
    .then(response => response.json())
    .then(data => {
      let favoriteStar = document.getElementById('favorite-star');
      if (favoriteStar) {
        favoriteStar.classList.toggle('bi-star');
        favoriteStar.classList.toggle('bi-star-fill');
      }
    })
    .catch((error) => {
        console.error('Error:', error);
    });
  });
</script>
{% endblock %}

