{% extends 'base.html.twig' %}

{% block title %}Favorite index{% endblock %}

{% block body %}
<div class="card my-5">
    <div class="card-body">
        <h2 class="card-title mb-3">Favoris</h2>
        {% for favorite in favorites %}
        <span 
        class="badge align-items-center text-light-emphasis bg-light-subtle border border-dark-subtle rounded-pill fs-5 d-inline-flex mt-2" 
        data-stop-area-name="{{ favorite.name }}" 
        data-stop-area-id="{{ favorite.stopPoint }}"
        >
            {{ favorite.name }}
            <span class="vr mx-2"></span>
            <a href="{{ path('app_favorite_delete', {'id': favorite.id}) }}">
                <i class="bi bi-x-circle-fill" width="1em" height="1em"></i>
            </a>
        </span>
        {% endfor %}
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    let favoriteElements = document.querySelectorAll('.badge');

    favoriteElements.forEach(function(element) {
        element.addEventListener('click', function(event) {
            let stopAreaId = event.target.getAttribute('data-stop-area-id');
            let stopAreaName = event.target.getAttribute('data-stop-area-name');

            const baseUrl = "{{ path('app_last_call_station', {stop_area_id: 'stop_area_id', stop_area_name: 'stop_area_name'})|escape('js') }}";
            let redirectUrl = baseUrl.replace('stop_area_id', stopAreaId).replace('stop_area_name', stopAreaName);

            window.location.href = redirectUrl;
        });
    });
});
</script>
    
{% endblock %}
